.bg-dark {
  background-color: #343a41 !important;
}

.jumbotron {
  background-color: #2767a9;
  color: #ffffff;
}

body {
  background-color: #343a40;
  color: #ffffff;
}

.btn-secondary {
  color: #007bff;
  background-color: transparent;
  border-color: #007bff;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.card-text {
  color: #868e96;
}

.navbar {
  position: sticky;
  top: 0;
}